.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1%;
}

.hw-title {
  font-size: 42px;
  margin-bottom: 32px;
}

.blockHw {
  display: flex;
  justify-content: space-between;
  width: 600px;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.arrow {
  display: flex;
  align-items: center;
  padding: 12px;
}

.center {
  width: 600px; /* Фіксований розмір слайду */
  height: 400px; /* Фіксований розмір слайду */
}

.prev {
  border: 1px solid gray;
  border-radius: 50%;
  background-color: bisque;
  width: 64px;
  height: 64px;
  padding: 8px;
}

.next {
  border: 1px solid gray;
  border-radius: 50%;
  background-color: bisque;
  width: 64px;
  height: 64px;
  padding: 8px;
}
