.container {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

.block-hw {
  color: dodgerblue;
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-size: 24px;
}

.hw-title {
  font-size: 48px;
  margin-bottom: 32px;
  text-align: center;
}

.products-list {
  display: flex;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  margin: 20px;
}

.product-image {
  width: 100%;
  height: auto;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.product-description {
  margin-bottom: 10px;
}

.product-buy-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.product-agree {
  flex-direction: column;
}

.product-price {
  font-size: 16px;
  color: green;
}

.product-btnBuy {
  background-color: green;
  color: #fff;
  padding: 8px 32px;
  border-radius: 5px;
}

.product-btnCancel {
  background-color: rgb(233, 107, 107);
  color: #fff;
  padding: 8px 32px;
  border-radius: 5px;
}

.product-btnAgree {
  background-color: green;
  color: #fff;
  padding: 8px 32px;
  border-radius: 5px;
  align-self: flex-end;
}

.order-info {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 440px;
  margin: 20px;
}

label {
  display: block;
  margin-bottom: 6px;
}

input {
  display: block;
  margin-bottom: 16px;
  min-width: 400px;
}

select {
  display: block;
  margin-bottom: 16px;
  min-width: 400px;
  height: 32px;
}

textarea {
  display: block;
  margin-bottom: 16px;
  min-width: 400px;
}

.order-info__title {
  display: flex;
  justify-content: space-around;
}

button {
  border: none;
  background: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
}

.goback-button {
  position: fixed;
  top: 24px;
  left: 24px;
  background-color: #007bff;
  color: white;
  padding: 8px 18px;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.goback-button:hover {
  background-color: #0056b3;
}
