p,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  font: 400 18px/28px Inter, sans-serif;
  position: relative;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.main__title {
  font-size: 30px;
  padding: 12px;
}

.main__list {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.main__list-link {
  font-size: 16px;
  color: dodgerblue;
}

button {
  border: none;
  background: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
}

.goback-button {
  position: fixed;
  top: 24px;
  left: 24px;
  background-color: #007bff;
  color: white;
  padding: 8px 18px;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.goback-button:hover {
  background-color: #0056b3;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

.block-hw {
  color: dodgerblue;
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-size: 24px;
}

.hw-title {
  font-size: 48px;
  margin-bottom: 32px;
}

.form-title {
  font-size: 24px;
  text-align: center;
}

.blockHw {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 100%;
}

#textInput:focus {
  background-color: rgb(247, 247, 233);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #fff;
  border-left-color: #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#floating-panel {
  background-color: white;
  border: 1px solid #999;
  line-height: 30px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  width: 350px;
}

#latlng {
  width: 225px;
}
