p,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.title-hw {
  text-align: center;
  padding: 18px;
}

.weather-container {
  max-width: 600px;
  margin: 24px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weather-container h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.weather-info {
  display: flex;
  gap: 32px;
}

.fieldset {
  display: flex;
  flex-direction: column;
  padding: 16px;
  padding-right: 48px;
  justify-content: space-around;
  gap: 16px;
}

.weather-icon {
  flex: 1;
  text-align: center;
}

.weather-details {
  display: flex;
  flex: 2;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

.title-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 32px;
}

#city,
#country {
  display: inline-flex;
}

.weather-details h2 {
  margin-top: 0;
  color: #666;
}

.temp-text {
  font-weight: bold;
  color: #ff5733;
  font-size: 24px;
}

#weather-description {
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
}

.weather-details__item {
  font-style: italic;
  color: #666;
}

button {
  border: none;
  background: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
}

.goback-button {
  position: fixed;
  top: 24px;
  left: 24px;
  background-color: #007bff;
  color: white;
  padding: 8px 18px;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.goback-button:hover {
  background-color: #0056b3;
}
